@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

:root {
    --first-font:'Space Mono', monospace;
    --second-font:'Teko', sans-serif;
    --third-font:'Smooch', cursive;
    --first-color:black;
}

h2 {
    font-family: var(--second-font);
    font-size: 35px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom:2px solid grey ;
}

a {
    font-family: var(--first-font);
    margin-right: 50px;
    text-decoration: none;
    color: var(--first-color);
}

.contact {
    margin: 0;
}
 .logo {
     background-color: aqua;
 }